* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    background-color: #cacaca;
    padding: 10px;
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    
}

.item {
    background-color: #ff037f;
    color: #fff;
    font-size: 30px;
    padding:10px;
    margin: 10px;
   
}

.item-3{
    height: 200px;
}

.item-4{
    font-size: 60px;
}