.container {
   display: flex;
   flex-direction:column;
   justify-content: space-between;
   align-items: center;
   height: 1200px;
   margin:0;

}

.item {
    background-color: greenyellow;
    font-size: 20px;
    text-align: center;
    margin: 0px;
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

*{
    margin-left:0;
}