body {
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 24px;
font-weight: 300;
background-color: lightslategray;
}

.first {
    background-color: dimgray;
    display: block;
    height: 300px;
    width: 900px;
    margin: 0;
    padding: 2px;
    position: absolute;
    left: 50%;
    clear: both;
    top: 30%;
   
}

.second {
    background-color: hotpink;
    display: block;
    height: 300px;
    width: 900px;
    margin: 0;
    padding: 2px;
    position:absolute;
    left: 50%;
    clear: both;
    top: 80%
}

.third {
    background-color: sandybrown;
    display: block;
    height: 300px;
    width: 900px;
    margin: 0;
    padding: 2px;
    position:absolute;
    left: 50%;
    clear: both;
    top: 135%

}

.tittle {
    display: block;
    background-color: red;
    height: 100px;
    margin: 0;
    width: 900px;
    padding: 0;
    position:relative;
    left: 50%;
    top: 30%;}

.boxleft{
    background-color: blue;
    width:350px;
    height: 900px;
    position:static;
    top:3px;
}

   

